body{
    margin : 0 auto;
    padding: 0;
}

#form{
    display: none;
}

input{
    margin: 5px;

}

.container {
    width: 25%;
    height: 250px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    margin: 8px;
}

#addBtn{
    margin-left: 20px;
    border-radius: 5px;
    background-color: #C08497;
    border: #C08497;
    width: 90px;
    height: 23px;
}
.div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.container:nth-child(1) {
    background-color: #f4a261;
  }
  
  .container:nth-child(2) {
    background-color: #e9c46a;
  }
  
  .container:nth-child(3) {
    background-color: #eed997;
  }
  
  .container:nth-child(4) {
    background-color: #f7af9d;
  }
  .container:nth-child(5) {
    background-color: #c08497;
  }
  
  .container:nth-child(6) {
    background-color: #f4a261;
  }
  
  .container:nth-child(7) {
    background-color: #f4a261;
  }
  
  .container:nth-child(8) {
    background-color: #e9c46a;
  }
  
  .container:nth-child(9) {
    background-color: #eed997;
  }
  .container:nth-child(10) {
    background-color: #f7af9d;
  }
  .container:nth-child(11) {
    background-color: #c08497;
  }
  
  .container:nth-child(12) {
    background-color: #f7e3af;
  }
  